<body>
<div style="text-align:center" id="image-box">
<img src="loading.gif" id="image"/>
</div>
</body>

<script>

function action()
{
	var paddingTop = window.innerHeight / 2 - document.getElementById("image").height / 2;
	document.getElementById("image-box").style.paddingTop = paddingTop;
}

window.onload = action;
window.onresize = action;

</script>